VITE_AUDIOEYE_SCRIPT_URL=https://wsv3cdn.audioeye.com/static-scripts/v2/2026-05-01/toolbar.bundle.js
VITE_AUDIOEYE_STYLESHEET_URL=https://wsv3cdn.audioeye.com/static-scripts/v2/2026-05-01/toolbarCSS.bundle.css
